.header_container {
  width: 100%;
  padding: 5rem;
}

.header_navbar_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0a6de4;
  height: 100px;
  width: 100%;
}

.header_search_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pokemon_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 600px;
  width: 100%;
  gap: 2rem;
  margin-top: 5rem;
}

.container {
  width: 100%;
  margin: 0 2rem;
}
